*{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

li, h2{
    height: 50px;
}
h2{
    display: flex;
    align-items: center;
    margin-left: 5px
}

.menu a{
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}